<% provide(:title, "Instructions") %>
<div>
    <h3>How to Play:</h3>
    <li>take turn</li>
    <li>take turn</li>
    <li>choose ingredients</li>
    <li>say yasssss</li>
    <li>queen</li>
    <li>win</li>
    </p>
</div>