<% provide(:title, "Welcome") %>
<p>
    <li>This</li>
    <li>is</li>
    <li>a</li>
    <li>place</li>
    <li>holder</li>
    <li>for</li>
    <li>formatting</li>
    <li>gibberish</li>
    <li>yass</li>
    <li>queen</li>
</p>